<?xml version="1.0"?>
<!-- Example of ROS localization using the example wamv with sensors -->
<launch>

  <!-- Supress tf warnings -->
  <rosparam param="silent_tf_failure">true</rosparam>

  <!-- Kalman filter fusing imu and gps into combined odometry/tf -->
  <node ns="wamv/robot_localization" pkg="robot_localization" type="ekf_localization_node"
        name="ekf_localization" clear_params="false">
    <param name="sensor_timeout" value="2.0"/>
    <param name="two_d_mode" value="false"/>
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="wamv/odom"/>
    <param name="base_link_frame" value="wamv/base_link"/>
    <param name="world_frame" value="wamv/odom"/>
    <param name="publish_tf" value="true"/>
    <param name="frequency" value="60"/>
    <param name="imu0" value="/wamv/sensors/imu/imu/data"/>
    <!-- IMU measures orientation, angular velocity, and linear acceleration -->
    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  true,
                                   false,  false,  false,
                                   true,  true,  true,
                                   true,  true,  true]</rosparam>
    <param name="imu0_differential" value="false"/>
    <param name="imu0_remove_gravitational_acceleration" value="true"/>

    <param name="odom0" value="/wamv/robot_localization/odometry/gps"/>
    <!-- GPS only reliably measures absolute position -->
    <rosparam param="odom0_config">[true,  true,  true,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false]</rosparam>
		<rosparam param="initial_estimate_covariance">[7.84710e-04 -6.34073e-04 -8.69653e-06 -2.14198e-05 -1.95175e-05 -6.46895e-07 4.65014e-07 8.40214e-07 -1.80281e-04 -2.96207e-06 -1.06248e-05 2.48865e-08 2.85133e-04 -2.77463e-04 -6.28035e-05,
                                                  -6.34073e-04 5.17471e-04 1.44209e-05 7.50474e-06 5.10770e-06 6.25129e-07 1.75080e-07 -2.28749e-07 6.90282e-05 3.08008e-07 4.44638e-06 -9.26334e-09 -5.78022e-05 8.66336e-05 -1.10368e-06,
                                                  -8.69653e-06 1.44209e-05 9.42162e-04 -3.28599e-06 2.99101e-07 1.50945e-07 7.06980e-05 2.19485e-05 5.18584e-05 -1.79337e-04 -1.44452e-04 1.77927e-06 -5.37418e-05 -1.96184e-05 -1.55717e-03,
                                                  -2.14198e-05 7.50474e-06 -3.28599e-06 2.12303e-05 1.94765e-05 -1.96698e-07 -1.48133e-07 -4.81530e-07 1.78263e-04 2.21166e-06 5.82847e-06 -4.20948e-10 -2.87993e-04 2.76511e-04 6.96419e-05,
                                                  -1.95175e-05 5.10770e-06 2.99101e-07 1.94765e-05 2.46428e-05 -1.80511e-07 2.29964e-07 -5.36498e-07 1.43394e-04 7.08577e-07 5.98183e-06 1.25619e-08 -4.25894e-04 2.93959e-04 9.65904e-05, 
                                                  -6.46895e-07 6.25129e-07 1.50945e-07 -1.96698e-07 -1.80511e-07 2.81295e-09 9.27795e-09 6.95102e-09 -1.64097e-06 -4.14741e-08 -6.84626e-08 4.14828e-10 2.66838e-06 -2.56300e-06 -8.35813e-07,
                                                  4.65014e-07 1.75080e-07 7.06980e-05 -1.48133e-07 2.29964e-07 9.27795e-09 1.51231e-05 7.97509e-06 1.28608e-05 -3.11801e-05 -5.00848e-05 3.01667e-07 -2.08094e-05 1.41725e-06 -1.89778e-04,
                                                  8.40214e-07 -2.28749e-07 2.19485e-05 -4.81530e-07 -5.36498e-07 6.95102e-09 7.97509e-06 4.66645e-06 4.11290e-06 -1.56737e-05 -2.89597e-05 1.52083e-07 1.50051e-07 -6.16886e-06 -8.63464e-05,
                                                  -1.80281e-04 6.90282e-05 5.18584e-05 1.78263e-04 1.43394e-04 -1.64097e-06 1.28608e-05 4.11290e-06 1.58136e-03 -1.01629e-05 -1.46010e-06 2.77799e-07 -1.95048e-03 2.20312e-03 2.73556e-04,
                                                  -2.96207e-06 3.08008e-07 -1.79337e-04 2.21166e-06 7.08577e-07 -4.14741e-08 -3.11801e-05 -1.56737e-05 -1.01629e-05 6.67303e-05 9.96347e-05 -6.56471e-07 2.82707e-05 1.86527e-05 4.32453e-04,
                                                  -1.06248e-05 4.44638e-06 -1.44452e-04 5.82847e-06 5.98183e-06 -6.84626e-08 -5.00848e-05 -2.89597e-05 -1.46010e-06 9.96347e-05 1.83030e-04 -9.75023e-07 -4.00154e-05 7.55112e-05 5.60919e-04,
                                                  2.48865e-08 -9.26334e-09 1.77927e-06 -4.20948e-10 1.25619e-08 4.14828e-10 3.01667e-07 1.52083e-07 2.77799e-07 -6.56471e-07 -9.75023e-07 9.02512e-09 -5.62745e-07 9.02056e-08 -4.20711e-06,
                                                  2.85133e-04 -5.78022e-05 -5.37418e-05 -2.87993e-04 -4.25894e-04 2.66838e-06 -2.08094e-05 1.50051e-07 -1.95048e-03 2.82707e-05 -4.00154e-05 -5.62745e-07 7.78307e-03 -4.71376e-03 -1.59666e-03,
                                                  -2.77463e-04 8.66336e-05 -1.96184e-05 2.76511e-04 2.93959e-04 -2.56300e-06 1.41725e-06 -6.16886e-06 2.20312e-03 1.86527e-05 7.55112e-05 9.02056e-08 -4.71376e-03 3.84123e-03 1.08881e-03,
                                                  -6.28035e-05 -1.10368e-06 -1.55717e-03 6.96419e-05 9.65904e-05 -8.35813e-07 -1.89778e-04 -8.63464e-05 2.73556e-04 4.32453e-04 5.60919e-04 -4.20711e-06 -1.59666e-03 1.08881e-03 3.54739e-03]</rosparam>

<!--                                                   x     y     z     r     p     y   x_dot  y_dot  z_dot  r_dot p_dot y_dot x_ddot y_ddot z_ddot-->
    <rosparam param="process_noise_covariance">       [1,   0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    1,  0,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    10,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0.03, 0,    0,    0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0.03, 0,    0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0.1,  0,     0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0.25,  0,     0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0.25,  0,     0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0.04,  0,    0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0.01, 0,    0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0.01, 0,    0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0.5,  0,    0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0.01, 0,      0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0,    0.01,   0,
                                                      0,    0,    0,    0,    0,    0,    0,     0,     0,     0,    0,    0,    0,    0,      0.015]</rosparam>
    <param name="odom0_differential" value="false"/>
    <param name="smooth_lagged_data" value="true"/>
  </node>

  <!-- Produces local odometry from GPS to be used in Kalman filter -->
  <node ns="wamv/robot_localization" pkg="robot_localization" type="navsat_transform_node"
        name="navsat_transform_node" respawn="true" output="screen">      
    <param name="tf_prefix" value="wamv"/> 
    <param name="frequency" value="60"/>
    <param name="magnetic_declination_radians" value="0"/>
    <param name="broadcast_utm_transform" value="true"/>
    <param name="wait_for_datum" value="true"/>
    <param name="use_odometry_yaw" value="true"/>
    <rosparam param="datum">[-33.73, 150.67]</rosparam>
    <param name="yaw_offset" value="0"/>
    <param name="publish_filtered_gps" value="true"/>
    <remap to="/wamv/sensors/gps/gps/fix" from="/wamv/robot_localization/gps/fix" />
  </node>
</launch>
